$greyTan: rgba(230, 222, 209, 1);
$lightLeather: rgba(232, 206, 161, 1);
$petalPink: rgba(241, 224, 207, 1);
$petalPinkLight: rgba(239, 229, 222, 1);
$slateBlue: rgba(215, 224, 228, 1);
$rosePink: rgba(251, 218, 211, 1);
$seafoam: rgba(217, 233, 222, 1);
