html {
  font-family: "Avenir Next", sans-serif;
  animation: bg 10s infinite;
  background: $greyTan;
  color: white;
}

@keyframes bg
{
  0%   {background: $greyTan;}
  25%  {background: $slateBlue;}
  50%  {background: $petalPinkLight;}
  75%  {background: $lightLeather;}
  100% {background: $greyTan;}
}

header {
  height: 100vh;
  align-items: baseline;
  background: linear-gradient(100deg, $lightLeather 40%, $greyTan 0%);
  .title{
    justify-content: flex-start;
    display: flex;
    align-items: baseline;
    a {
      @include link;
    }
    h1 {
      display: inline;
      font-weight: 250;
      font-size: 2em;
      margin-left: 7%;
      margin-top: 25vh;
      display: inline-flex;
      letter-spacing: .2em;
    }

    h2 {
      display: inline-flex;
      font-weight: 100;
      font-size: 1.5em;
      margin-left: 7px;
    }
  }
  .clickable{
    margin-top: 25vh;
    justify-content: flex-end;
    display: flex;
    padding-right: 7%;
    a {
      @include link;
    }
    h2{
      padding-right: 15px;
    }
  }

  #top{
    position: fixed;
    text-align: center;
    top: 85vh;
    left: 90vw;
    width: 50px;
    height: 50px;
    background-color: rgba(256, 256, 256, .3);
    text-decoration: none;
    color: white;
    line-height: 10px;
    display: none;
  }
}//header

body {
  h2 {
    font-weight: 200;
  }
  #pJump{
    padding-top: 25vh;
    padding-left: 7px;
    font-size: 2em;
    letter-spacing: .25em;
  }
}//body

#projects{
  display: flex;
  align-content: flex-end;
  // height: 100vh;
  width: 100%;
  section {
    width: 200px;
    height: 200px;
    display: block;
    margin: 7px;
    break-after: always;
    // border-radius: 7px;
    background-color: rgba(256, 256, 256, .3);
    a {
      @include link;
    }

    h2{
      text-align: center;
      padding-top: 7px;
      font-weight: 800;
      font-size: 4em;
    }
    h3 {
      font-weight: 300;
      padding-left: 15px;
    }

    ul {
      // padding-left: 7px;
      li {
        list-style: none;
      }
    }
  }//section
}//projects

#showing1, #showing2, #showing3, #showing4, #showing5, #showing6, #showing7, #showing8, #showing9{
  display: block;
  width: 200px;
  height: 200px;
}
#hidden1, #hidden2, #hidden3, #hidden4, #hidden5, #hidden6, #hidden7, #hidden8, #hidden9{
  display: none;
  width: 200px;
  height: 200px;
}
