body{
  background: $bgcolor;
  color: $fontColor;
  font-size: $fontSize;
}

section {
  p{
    @include box;
  }
}

nav{
  text-align: center;
  ul{
    li{
      list-style: none;
      display: inline-block;
      padding-right: 20px;
      @include box;
      a{
        @include link;
      }//a
    }//li
  }//ul
}//nav
