@mixin box{
  background: white;
  border: 2px solid tan;
  padding: 15px;
  @include roundy;
}

@mixin roundy{
  border-radius: $smooth;
}

@mixin link{
  font-family: monospace;
  font-size: 4em;
  text-decoration: none;
  // color: rgb(167, 125, 70);
  color: #98d4b3;
}
